<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dragon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,366},{173,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,180}}</string>
			<key>sourceSize</key>
			<string>{173,180}</string>
		</dict>
		<key>dragon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,184},{173,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,180}}</string>
			<key>sourceSize</key>
			<string>{173,180}</string>
		</dict>
		<key>dragon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{173,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,180}}</string>
			<key>sourceSize</key>
			<string>{173,180}</string>
		</dict>
		<key>dragon4.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,2},{173,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,180}}</string>
			<key>sourceSize</key>
			<string>{173,180}</string>
		</dict>
		<key>dragon5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{173,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,180}}</string>
			<key>sourceSize</key>
			<string>{173,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AnimDragon_HD.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:31dce40ca662fe8155b53483301ab941$</string>
		<key>textureFileName</key>
		<string>AnimDragon_HD.png</string>
	</dict>
</dict>
</plist>
