<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rabbit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,323},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,216},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,109},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,216},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,109},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
            <key>rabbit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,323},{63,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,105}}</string>
                <key>sourceSize</key>
                <string>{63,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimRabbit.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd3ead1ca0c99058405b0c50e40b3dbc$</string>
            <key>textureFileName</key>
            <string>AnimRabbit.png</string>
        </dict>
    </dict>
</plist>
