<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mouse1.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,488},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse11.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,650},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,812},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse4.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,650},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse5.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,812},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,488},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse7.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,326},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
		<key>mouse9.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,164},{214,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,160}}</string>
			<key>sourceSize</key>
			<string>{214,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AnimMouse_HD.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1943997faabc79af3d2f37ec91416250$</string>
		<key>textureFileName</key>
		<string>AnimMouse_HD.png</string>
	</dict>
</dict>
</plist>
