<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,99}}</string>
                <key>sourceSize</key>
                <string>{269,99}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{269,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,99}}</string>
                <key>sourceSize</key>
                <string>{269,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimArrow_HD.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309340a7257bfe486049d9b5dcde2a92$</string>
            <key>textureFileName</key>
            <string>AnimArrow_HD.png</string>
        </dict>
    </dict>
</plist>
