<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,39}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{108,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,39}}</string>
                <key>sourceSize</key>
                <string>{108,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimArrow.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a45e80f658f15331e7a29e258d479e80$</string>
            <key>textureFileName</key>
            <string>AnimArrow.png</string>
        </dict>
    </dict>
</plist>
