<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>hint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimHint.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b715fbcb0d1ee085607a5f8820dd2c6$</string>
            <key>textureFileName</key>
            <string>AnimHint.png</string>
        </dict>
    </dict>
</plist>
