<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rhino1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{145,179}</string>
            </dict>
            <key>Rhino2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{145,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{145,179}</string>
            </dict>
            <key>Rhino3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{145,179}</string>
            </dict>
            <key>Rhino4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,179}}</string>
                <key>sourceSize</key>
                <string>{145,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimRhino2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9337c44712c1b07afe7db756c5fa1f9a$</string>
            <key>textureFileName</key>
            <string>AnimRhino2.png</string>
        </dict>
    </dict>
</plist>
