<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rabbit1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,635},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit10.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,424},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit11.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,213},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit12.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,635},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,424},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,213},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit2.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,424},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit3.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,213},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit4.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit5.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit6.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit7.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit8.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
		<key>rabbit9.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,635},{126,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,209}}</string>
			<key>sourceSize</key>
			<string>{126,209}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AnimRabbit_HD.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:18a07069712f95f21e635dec5f4de808$</string>
		<key>textureFileName</key>
		<string>AnimRabbit_HD.png</string>
	</dict>
</dict>
</plist>
