<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,35}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,35}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>chick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{50,33}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,33}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimChick.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77ba89ac2474e053ba07e6f901e68a8$</string>
            <key>textureFileName</key>
            <string>AnimChick.png</string>
        </dict>
    </dict>
</plist>
