<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Rhino1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{290,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,358}}</string>
			<key>sourceSize</key>
			<string>{290,358}</string>
		</dict>
		<key>Rhino2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,362},{290,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,358}}</string>
			<key>sourceSize</key>
			<string>{290,358}</string>
		</dict>
		<key>Rhino3.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,2},{290,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,358}}</string>
			<key>sourceSize</key>
			<string>{290,358}</string>
		</dict>
		<key>Rhino4.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,2},{290,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,358}}</string>
			<key>sourceSize</key>
			<string>{290,358}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AnimRhino_HD.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2150e607df5bf750323eb5b8bd90ca96$</string>
		<key>textureFileName</key>
		<string>AnimRhino_HD.png</string>
	</dict>
</dict>
</plist>
